.partage-page {
  padding: 40px;
  width: 100vw; /* Largeur plein écran */
  height: 100vh; /* Hauteur plein écran */
  background: linear-gradient(to bottom left, #fffbe6, #f0d278, #e49dd0);
  min-height: 100vh;
  box-sizing: border-box;

}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.documents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
}

.doc-card {
  background-color: #f2c76e;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 4px 4px 0 #999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.doc-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  cursor: pointer;
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.8rem;
}
